# 快速導覽
alias ..="cd .."
alias ...="cd ../.."

# 列出目錄清單
alias la="ls -al"                          # 清單列表所有隱藏不隱藏的資料夾和檔案
alias l="ls -lp"                           # 清單列表不隱藏的資料夾和檔案
alias ls="ls -lp"
alias ld='ls -l ${colorflag} | grep "^d"'  # 清單列表只列出資料夾

# 捷徑
alias c="clear"
alias s="subl ."
alias o="open"
alias oo="open ."

# Octopress
alias rp="rake preview"
alias rg="rake generate"
alias rd="rake deploy"
alias rgd="rake generate; rake deploy"

# 任意門……
alias dotfiles="cd ~/.dotfiles"

# 有用的東西
alias ip="curl ipecho.net/plain; echo"

# 網速測試
alias speedtest='wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'

alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

alias untar = "tar -zxvf"
