# 快速導覽
alias ..="cd .."
alias ...="cd ../.."

# 列出目錄清單
alias la="ls -al"                          # 清單列表所有隱藏不隱藏的資料夾和檔案
alias l="ls -lp"                           # 清單列表不隱藏的資料夾和檔案
alias ls="ls -lp"
alias ld='ls -l ${colorflag} | grep "^d"'  # 清單列表只列出資料夾

alias -s rb="vim"
alias -s log="less -MN"

# 抄捷徑啦
alias c="clear"
alias s="subl ."
alias o="open"
alias oo="open ."

# Octopress
alias rp="rake preview"
alias rg="rake generate"
alias rd="rake deploy"
alias rgd="rake generate; rake deploy"

# 任意門……
alias blog="cd ~/Code/Project/octopress/chinghanho"
alias dotfiles="cd ~/.dotfiles"
alias prj="cd ~/Code/Project"
alias pra="cd ~/Code/Practice"
alias sdx="cd ~/Code/Sandbox"
alias todo="subl --project ~/Dropbox/Documents/TODO/todo.sublime-project"

# Minecraft!!
alias minecraft="java -Xmx1024M -Xms512M -cp ~/Library/Application\ Support/minecraft/bin/MinecraftSP.jar net.minecraft.LauncherFrame"

alias coffitivity="open -a /Applications/MPlayerX.app ~/Dropbox/Music/Coffitivity.mp3 --args -file -volume 50 -StartByFullScreen NO"

# virtualenvwrapper
alias v="workon"
alias vls="lsvirtualenv"
alias vcp="cpvirtualenv"
alias vquit="deactivate"
alias vmk="mkvirtualenv"
alias vrm="rmvirtualenv"
alias vswitch="workon"

# 有用的東西
alias ip="curl ipecho.net/plain; echo"
