# export excutable in dotfiles
export PATH="$HOME/.dotfiles/bin:$PATH"

# add Python scripts directory to PATH
export PATH="/usr/local/share/python:$PATH"

export BUNDLER_EDITOR=subl

export CLICOLOR=1                        # 啟用顏色
export LSCOLORS="Gxfxcxdxbxegedabagacad" # 設置顏色
